body {
    padding: 0;
    margin: 0;
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.drTluDa-NFg-MQynWXTqVwHaEo&pid=Api&P=0&w=290&h=182);
    background-size: cover;
}

.jo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.c3 {
    background-color: white;
    padding: 1rem;
}